<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        username: <input type="text" name="username" required> <br>
        password: <input type="text" name="password" required> <br>
        <button type="submit">submit</button>
    </form>
    <a href="{% url 'register' %}"><button>register</button></a> <br>
    <a href="{% url 'forget' %}"><button>Forget Password</button></a> 
</body>
</html>